<div ng-show="isViewReady()" class="container">
    <div class="row-fluid view-user-edit">
        <tabset class="span8 offset2">
            <tab heading="Personal details">
                <form name="form" ng-submit="save()" class="panel form-horizontal">
                    <div class="panel-heading">&nbsp;
                        <div class="panel-controls">
                            <button class="btn btn-primary" accesskey="s" ng-disabled="form.$invalid || !isModified()" tooltip="Save"
                                    tooltip-placement="bottom">
                                <span class="icon-ok icon-white"></span>
                            </button>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="email">Email</label>

                        <div class="controls">
                            <input id="email" type="text" class="span4" ng-model="user.email" disabled/>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="name">Name</label>

                        <div class="controls">
                            <input id="name" type="text" class="span4" ng-model="user.name" ng-focus/>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="phoneNumber">PhoneNumber</label>

                        <div class="controls">
                            <input id="phoneNumber" type="text" class="span4" ng-model="user.phoneNumber" ng-minlength="10" maxlength="12"/>
                        </div>
                    </div>
                </form>
            </tab>
            <tab heading="Change password">
                <form ng-submit="changePassword()" class="panel form-horizontal">
                    <div class="panel-heading">&nbsp
                        <div class="panel-controls">
                            <button class="btn btn-primary" accesskey="p">
                                <span class="icon-ok icon-white"></span>
                            </button>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="currentPassword">Current password</label>

                        <div class="controls">
                            <input id="currentPassword" type="password" class="span4" ng-model="password.current" required/>
                        </div>
                    </div>


                    <div class="control-group">
                        <label class="control-label" for="newPassword">New password</label>

                        <div class="controls">
                            <input id="newPassword" type="password" class="span4" ng-model="password.new" required/>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="passwordConfirmation">Confirm password</label>

                        <div class="controls">
                            <input id="passwordConfirmation" type="password" class="span4" ng-model="password.confirmation" required/>
                        </div>
                    </div>
                </form>
            </tab>
        </tabset>
    </div>
</div>
