<div class="container">

    <h1>Device: {{ stats.deviceName }}</h1>

    <div class="form-inline">
        <label>
            Start date
            <input type="text" datepicker-popup="dd-MMMM-yyyy" ng-model="startDate" is-open="startDateOpened" datepicker-options="dateOptions"/>
        </label>
        <button class="btn" ng-click="openStartDate()"><i class="icon-calendar"></i></button>
        <label>
            End date
            <input type="text" datepicker-popup="dd-MMMM-yyyy" ng-model="endDate" is-open="endDateOpened" datepicker-options="dateOptions"/>
        </label>
        <button class="btn" ng-click="openEndDate()"><i class="icon-calendar"></i></button>
    </div>
    <div class="row">
        <div class="span12">
            <accordion close-others="false">
                <accordion-group heading="Main statistics" is-open="true">
                    Energy: <span class="badge">{{ stats.energy }} KWh</span><br/>
                    Maximum Active Power for the Range: <span class="badge">{{ stats.activePowerTotal.max }} kW</span><br/>
                    Maximum Active Power in between 18:00 - 23:00: <span class="badge">{{ stats.activePowerTotalMax18_23 }} kW</span><br/>
                    Power Factor: <span class="badge">{{ stats.powerFactor }}</span>
                </accordion-group>
                <accordion-group heading="Total Detail Accordion">
                    <table>
                        <thead>
                        <tr>
                            <td>Variable</td>
                            <td>AVG</td>
                            <td>MIN</td>
                            <td>MAX</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Reactive</td>
                            <td><span class="badge">{{ stats.reactivePowerTotal.avg }}</span></td>
                            <td><span class="badge">{{ stats.reactivePowerTotal.min }}</span></td>
                            <td><span class="badge">{{ stats.reactivePowerTotal.max }}</span></td>
                        </tr>
                        <tr>
                            <td>Active</td>
                            <td><span class="badge">{{ stats.activePowerTotal.avg }}</span></td>
                            <td><span class="badge">{{ stats.activePowerTotal.min }}</span></td>
                            <td><span class="badge">{{ stats.activePowerTotal.max }}</span></td>
                        </tr>
                        <tr>
                            <td>Apparent total Power</td>
                            <td><span class="badge">{{ stats.activePowerTotal.avg }}</span></td>
                            <td><span class="badge">{{ stats.activePowerTotal.min }}</span></td>
                            <td><span class="badge">{{ stats.activePowerTotal.max }}</span></td>
                        </tr>
                        </tbody>
                    </table>
                </accordion-group>
                <accordion-group heading="Table">
                    <div class="btn-group" data-toggle="buttons-radio">
                        <button type="button" class="btn btn-primary" ng-class="{'active':isStatTypeAVG()}" ng-click="selectStatTypeAVG()">AVG</button>
                        <button type="button" class="btn btn-primary" ng-class="{'active':isStatTypeMIN()}" ng-click="selectStatTypeMIN()">MIN</button>
                        <button type="button" class="btn btn-primary" ng-class="{'active':isStatTypeMAX()}" ng-click="selectStatTypeMAX()">MAX</button>
                    </div>
                    <div class="btn-group" data-toggle="buttons-radio">
                        <button type="button" class="btn btn-primary" ng-class="{'active':isPhase(1)}" ng-click="selectPhase(1)">Phase 1</button>
                        <button type="button" class="btn btn-primary" ng-class="{'active':isPhase(2)}" ng-click="selectPhase(2)">Phase 2</button>
                        <button type="button" class="btn btn-primary" ng-class="{'active':isPhase(3)}" ng-click="selectPhase(3)">Phase 3</button>
                    </div>
                    <table>
                        <tbody>
                        <tr>
                            <td>Voltage</td>
                            <td><span class="badge">{{ getVoltage() }}</span></td>
                        </tr>
                        <tr>
                            <td>Current</td>
                            <td><span class="badge">{{ getCurrent() }}</span></td>
                        </tr>
                        <tr>
                            <td>Active Power</td>
                            <td><span class="badge">{{ getActivePower() }}</span></td>
                        </tr>
                        <tr>
                            <td>Reactive Power</td>
                            <td><span class="badge">{{ getReactivePower() }}</span></td>
                        </tr>
                        <tr>
                            <td>Apparent Power</td>
                            <td><span class="badge">{{ getApparentPower() }}</span></td>
                        </tr>
                        <tr>
                            <td>Power Factor</td>
                            <td><span class="badge">{{ getPowerFactor() }}</span></td>
                        </tr>
                        <tr>
                            <td>Frequency</td>
                            <td><span class="badge">{{ getFrequency() }}</span></td>
                        </tr>
                        </tbody>
                    </table>
                </accordion-group>
            </accordion>
        </div>
    </div>
</div>